#AboutCompany{
    min-height: 80vh;
    height: auto;
    width: 65%;
    padding: 0 17.5%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.AboutCompanyContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.AboutCompanyContainer .aleft, .AboutCompanyContainer .aright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.AboutCompanyContainer .aleft{
    width: 40%;
    position: relative;
}
.youtubeBox{
    height: 130px;
    width: 120px;
    background-color: #ff5130;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -15%;
    bottom: 0;
}
.AboutCompanyContainer .aleft img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.AboutCompanyContainer .aright{
    width: 50%;
    height: auto;
    align-items: start;
}
.AboutCompanyContainer .aright .title{
    font-size: 1.6rem;
    font-weight: 400;
    margin: 5% 0;
}
.AboutCompanyContainer .aright h1{
    font-size: 2.8rem;
    margin: 0;
    padding: 0;
}
.AboutCompanyContainer .aright p{
    font-size: 1rem;
}
.featureContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.featureBox{
    /* border: 1px solid white; */
    /* min-height: 100px;
    min-width: 150px; */
    width: auto;
    height: auto;
    margin:0 3%;
}
.featureBox img{
    object-fit: contain;
    height: 55px;
    width: 55px;
    margin: 0;
    padding: 0;
}
.featureBox span{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.featureBox span p{
   margin: 10%
}

@media screen and (max-width: 1300px) {
    #AboutCompany{
        min-height: 80vh;
        height: auto;
        width: 80%;
        padding: 0 10%;
        z-index: 1;
    }
    .AboutCompanyContainer .aright h1{
        font-size: 2.4rem;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 1024px) {
    .AboutCompanyContainer .aright .title{
        font-size: 1.5rem;
        font-weight: 400;
        margin: 5% 0;
    }
    .AboutCompanyContainer .aright h1{
        font-size: 2.3rem;
        margin: 0;
        padding: 0;
    }
    .AboutCompanyContainer .aright p{
        font-size: .9rem;
    }
}
@media screen and (max-width: 865px) {
    .AboutCompanyContainer{
        margin: 10% 0;
    }
    .AboutCompanyContainer, .AboutCompanyContainer .aleft, .AboutCompanyContainer .aright{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .AboutCompanyContainer .aleft img{
        height: 100%;
        width: 100%;
        max-height: 400px;
        max-width: 400px;
        object-fit: contain;
    }
    .youtubeBox{
        display: none;
    }
}