#SaveBig{
    /* min-height: 100vh;
    height: 100%; */
    height: 100vh;
    width: 80%;
    padding: 0 10%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.SaveBigContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 90%;
    width: 100%;
    z-index: 1;
}
.SaveBigContainer .left, .SaveBigContainer .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.SaveBigContainer .left{
    width: 40%;
    align-items: start;
}
.SaveBigContainer .left .one{
    font-size: 1.6rem;
    margin:0 0 4% 0;
    padding: 0;
}
.SaveBigContainer .left .two{
    font-size: 3.5rem;
    margin:0 0 4% 0;
    padding: 0;
}
.SaveBigContainer .left .three{
    font-size: 1rem;
    margin:0 0 4% 0;
    padding: 0;
}
.BookRideLearnMore{
    height: fit-content;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
}
.BookRideLearnMore .linktag{
    padding: 0;
    margin: 0;
}
.linktag button, .BookRideLearnMore button {
    /* padding: 8% 20%; */
    width: 200px;
    height: 60px;
    margin: 0 5%;
}
.linktag >  button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255,255,255,0.5), transparent);
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s, opacity 0.3s;
}
.linktag > button:hover::before{
    transform: translateX(100%);
    opacity: 1;
    animation: reflective-light .5s  linear;
  }
.BookRideLearnMore .btn2{
    background-color: black;
    font-weight: 700;
    transition: background-color 0.3s;
}
.BookRideLearnMore .btn2:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.SaveBigContainer .right{
    width: 60%;
}
.SaveBigContainer .right img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.herobg{
    position: absolute;
    height: 120vh;
    width: 50%;
    right: 0;
    top: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: right top;
}
@media screen and (max-width: 1360px) {
    .SaveBigContainer .left{
        width: 50%;
        align-items: start;
    }
}
@media screen and (max-width: 1024px) {
    #SaveBig{
        width: 90%;
        padding: 0 5%;
    }
}
@media screen and (max-width: 990px) {
    .SaveBigContainer .left .one{
        font-size: 1.4rem;
        margin:0 0 4% 0;
        padding: 0;
    }
    .SaveBigContainer .left .two{
        font-size: 3.2rem;
        margin:0 0 4% 0;
        padding: 0;
    }
    .BookRideLearnMore button{
        width: 150px;
        height: 50px;
        margin-right: 5%;
    }
}
@media screen and (max-width: 853px) {
    .SaveBigContainer .left .one{
        font-size: 1.2rem;
        margin:0 0 4% 0;
        padding: 0;
    }
    .SaveBigContainer .left .two{
        font-size: 2.7rem;
        margin:0 0 4% 0;
        padding: 0;
    }
    .BookRideLearnMore button{
        width: 150px;
        height: 40px;
        margin-right: 5%;
    }
}
@media screen and (max-width: 853px) {
    .SaveBigContainer, .SaveBigContainer .left{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
    .SaveBigContainer .right, .herobg{
        display: none;
    }
}
@media screen and (max-width: 470px) {
    .SaveBigContainer .left{
        width: 100%;
        align-items: center;
    }
    .SaveBigContainer .left .one{
        font-size: 1.2rem;
        margin:0 0 4% 0;
        padding: 0;
    }
    .SaveBigContainer .left .two{
        font-size: 2.1rem;
        margin:0 0 4% 0;
        padding: 0;
    }
    .SaveBigContainer .left .three{
        font-size: 1rem;
        margin:0 0 4% 0;
        padding: 0;
    }
    .BookRideLearnMore{
        flex-direction: column;
    }
    .BookRideLearnMore button{
        margin:3% 0;
    }
}