#Download{
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.DownloadContainer{
    height: 70%;
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #eeeeee;
}
.DownloadContainer .left{
    height: 100%;
    width: 45%;
    padding: 0 2.5%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.DownloadContainer .left .title{
    font-size: 3.1rem;
    font-weight: 600;
    margin: 3% 0;
    color: black;
}
.DownloadContainer .left p{
    margin: 3% 0;
    font-size: 1rem;
    color: rgb(130, 127, 127);
}
.DownloadContainer .left .buttonsBox{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.DownloadContainer .left .downloadbtn {
    height: 50px;
    width: 200px;
    margin: 0 3%;
}
.DownloadContainer .left .downloadbtn img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.DownloadContainer .right{
    height: 100%;
    width: 55%;
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: transparent;
}
.DownloadContainer .right img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1360px) {
    .DownloadContainer .left .buttonsBox{
        width: 70%;
    }
    .DownloadContainer .left button{
        font-size: 1.2rem;
        width: 200px;
        padding: 3%;
        margin: 0 1%;
    }
}

@media screen and (max-width: 1024px) {
    .DownloadContainer .left{
        height: 100%;
        width: 45%;
    }
    .DownloadContainer .left .title{
        font-size: 2.5rem;
        font-weight: 600;
        margin: 3% 0;
        color: black;
    }
    .DownloadContainer .left p{
        margin: 3% 0;
        font-size: .9rem;
        color: rgb(130, 127, 127);
    }
    .DownloadContainer .left .buttonsBox{
        width: 80%;
    }
    .DownloadContainer .left button{
        font-size: 1.2rem;
        width: 200px;
        padding: 3%;
        margin: 0 1%;
    }
}

@media screen and (max-width: 990px) {
    .DownloadContainer .left{
        height: 100%;
        width: 45%;
    }
    .DownloadContainer .right{
        height: 100%;
        width: 40%;
    }
    .DownloadContainer .right img{
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 862px) {
    .DownloadContainer{
        height: 70%;
        width: 80%;
        padding: 10% 10%;
        text-align: center;
    }
    .DownloadContainer .left .buttonsBox, .DownloadContainer .left{
        width: 100%;
        flex-direction: column;
    }
    .DownloadContainer .left .downloadbtn {
        margin: 1% 0%;
    }
    .DownloadContainer .right {
        display: none;
    }
}